

 <nav class="navbar navbar bg-dark sticky-top">
  <div class="container">
    <div class="navbar-header">
    
      <a style="text-align: left; color:white" class="navbar-brand" href="#"><i class="fa-brands fa-github"></i>GitHub Search</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <i class="fa-brands fa-github"></i>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-8">
      <app-user></app-user>
    </div>
    <div class="col-md-2"></div>
  </div>
</div> 




