


<div class="row sticky-top">
  <div class="col-md-12 col-md-offset-4">
    <form  #userForm="ngForm">
      <div class="form-group">
        <label for="username">Enter your Username</label>
        <br>
        <input type="text" class="form-control" placeholder="GitHub Username" id="name" [(ngModel)]="username" name="name" #name="ngModel"required (keyup)="search()">
      </div>

    </form>
  </div>
</div>

<div *ngIf="user">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h1>{{user.name}}</h1>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <img class="github-avatar img-thumbnail" src="{{user.avatar_url}}">
        </div>
        <div class="col-md-8">
          <div class="stats">
            <span class="btn btn-primary">{{user.public_repos}} Public Repos</span>
            <!-- <span class="btn btn-info">{{}} Followers</span>
            <span class="btn btn-warning">{{user.following}} Following</span> -->
          </div>
          <br>
          <div class="list-group">
            <li class="list-group-item"><strong>Username: </strong> {{user.login}}</li>
            <li class="list-group-item"><strong>Location: </strong> {{user.location}}</li>
            <li class="list-group-item"><strong>Email: </strong> {{user.email}}</li>
            <li class="list-group-item"><strong>Blog: </strong> {{user.blog}}</li>
            <li class="list-group-item"><strong>Member Since: </strong> {{user.created_at | date}}</li>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h3 style="text-align: center; color:#265A88;">{{user.name}}'s Repos</h3>
<div class="col-md-4 mt-3 d-inline-block"  *ngFor="let repo of repos">
<div class="card p-3 m-2">
  <h4><a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a></h4>
              <p>{{repo.description}}</p>
</div>
</div>
</div>